.abt-title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #0080fe;
  margin-top: 40px;
}
.abt-description {
  width: 80%;
  text-align: center;
  margin: 30px auto 30px auto;
  font-size: 19px;
  font-family: "Poppins Light";
}
